@font-face {
    font-family: 'L6';
    src: url('@/assets/fonts/Lora-SemiBold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'L5';
    src: url('@/assets/fonts/Lora-Medium.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'I5';
    src: url('@/assets/fonts/Inter_Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'I4';
    src: url('@/assets/fonts/Inter_Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'I6';
    src: url('@/assets/fonts/Inter_SemiBold.ttf');
    font-weight: 600;
}